.LiveQuery {

    input {
        width: 100%;
        height: 36px;
        border-radius: 5px;
        padding-left: 1%;
        border: 1px solid #00000029;
    }


    input:focus {
        outline-width: 0;
    }

    .dropList {
        position: absolute;
        border: 1px solid #00000029;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0.5em 0 0.5em 0;
        margin-top: 0;
        max-height: 150px;
        overflow-y: scroll;
        z-index: 100;
    }

    .query-result{
        display: flex;
        align-items: center;
        padding: 0.2em;
        
        span{
            padding-left: 1em;
        }

        img{
            padding-left: 1em;
        }
    }


    .dropList::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }

    .dropList::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(114, 114, 114, 0.3);
        background-color: #555;
    }


    li:hover {
        background-color: grey;
        color: white;
    }

    .loader{
        color: lightgrey;
        padding-top: 0.2em;
        padding-bottom: 0.1em;
    }

    .loader:hover{
        background-color: none;
        color: lightgrey;
    }
}